<%- include("./partials/header") %>
    <div class="container">
        <div class="jumbotron">
            <h1 style="font-size:50px ;">All The Owner and Tenant details are given below </h1><br>
        </div>
        <div style="width:100%; margin:0 auto;">
            <h1 class="text-center">Owner Details</h1>
            <table class="table table-bordered"> 
                <tr>
                    <th>Username</th>
                    <th>Email ID </th>
                    <th>Phone Number</th>                
                </tr>
                <% owners.forEach(function(data){%>
                    <tr>
                        <td><%=data.username%></td>
                        <td><%=data.email%></td>
                        <td><%=data.phoneNo%></td>
                    </tr>
                <%})%>
            </table>
        </div>
        <div style="width:100%; margin:0 auto;">
            <h1 class="text-center">Tenant Details</h1>
            <table class="table table-bordered"> 
                <tr>
                    <th>Username</th>
                    <th>Email ID </th>
                    <th>Phone Number</th>  
                    <th>Members</th>      
                    <th>Income(per month)</th>            
                </tr>
                <% tenants.forEach(function(data1){%>
                    <tr>
                        <td><%=data1.username%></td>
                        <td><%=data1.email%></td>
                        <td><%=data1.phoneNo%></td>
                        <td><%=data1.members%></td>
                        <td><%=data1.income%></td>
                    </tr>
                <%})%>
            </table>
        </div>
    </div>
<%- include("./partials/footer") %>
