<%- include("./partials/header") %>
    <div class="container">
        <div class="row">
            <div class ="col-md-12 text-center">
                <h1>Edit Property</h1>
            </div>
            <div style="width:30%; margin:30px auto;">
                <form action="/owner/<%= owner_id %>/property/<%= prop._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="number" name="property[room]" value="<%= prop.room %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="property[status]" value="<%= prop.status %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="property[address]"  value="<%= prop.address %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="property[image]"  value="<%= prop.image %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="property[rent]" value="<%= prop.rent %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-md btn-info btn-block">Submit</button>
                    </div>
                </form>
                <a class="btn btn-primary" style="margin-left: 15rem;" href="/owner/<%= owner_id %>/property/<%= prop._id %>">Back</a>
            </div>
        </div>
    </div>
<%- include("./partials/footer") %>
