<%- include("partials/header") %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <img src="<%=property.image%>" style="width:100%">
                    <div class="caption" style="width:100%; font-size:25px;">
                        <ul class="list-group" style="text-align: center;">
                            <li class="list-group-item">Total Number of Rooms Present: <%=property.room%></li>
                            <li class="list-group-item">Address of the House: <%=property.address%></li>
                            <li class="list-group-item">Rent per month for the House: <%=property.rent%></li>
                            <li class="list-group-item">Owner of the House: <%= owner.username %></li>
                            <li class="list-group-item">Owner Contact Details: <%=owner.phoneNo%></li>
                            <li class="list-group-item">Owner Email ID: <%=owner.email%></li>
                            <br>
                            <p><strong> Price is Non-Negotiable </strong></p>
                            <a class="btn btn-primary btn-lg" href="#">Book</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer") %>