<%- include("partials/header") %>
    <% if(property){ %>
        <div class="container">
            <h2 style="text-align: center;"><strong>This is your current house</strong></h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail" style="border: solid;">
                        <img src="<%=property.image%>" style="width:100%">
                        <div class="caption" style="width:100%; font-size:25px;">
                            <ul class="list-group" style="text-align: center;">
                                <li class="list-group-item">Total Number of Rooms Present: <%=property.room%></li>
                                <li class="list-group-item">Address of the House: <%=property.address%></li>
                                <li class="list-group-item">Rent per month for the House: <%=property.rent%></li>
                                <br>
                                <a href="#" class="btn btn-danger" role="button">Leave</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }else{ %>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    <div class="caption">
                        <p>Details of the house</p>
                        <p><a href="#" class="btn btn-primary" role="button">Book</a>
                            <a href="#" class="btn btn-danger" role="button">Leave</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="https://images.unsplash.com/photo-1516501312919-d0cb0b7b60b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    <div class="caption">
                        <p>Details of the house</p>
                        <p><a href="#" class="btn btn-primary" role="button">Book</a>
                            <a href="#" class="btn btn-danger" role="button">Leave</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="container" >
        <ul class="list-group" style="margin:20px 200px 20px 200px; font-size:20px; text-align: center;">
            <li class="list-group-item"><span class="glyphicon glyphicon-home" style="font-size: 25px;" aria-hidden="true"></span> View Properties <a class="btn btn-primary" href="/tenant/<%=tenant_id%>/property">Go</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-euro" style="font-size: 25px;" aria-hidden="true"></span> Pay Rent <a class="btn btn-primary " href="/tenant/<%=tenant_id%>/pay">Go</a></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-pencil" style="font-size: 25px;" aria-hidden="true"></span> Edit Profile <a class="btn btn-primary" href="/tenant/<%=tenant_id%>/edit">Go</a></li>
        </ul>
    </div>
<%- include("partials/footer") %>
