<%- include("partials/header") %>
    <div class="container">
        <div class="jumbotron">
            <p style="font-size:50px">Following are the properties that belong to you!!</p>
        </div>
        <div class="row">
            <%property.forEach(function(data){%>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="<%=data.image%>" style="height: 20rem;width:30rem">
                        <div class="caption">
                            <p style="text-align: center;"><a href="/owner/<%=owner_id%>/property/<%=data._id%>" class="btn btn-primary" role="button">Show More...</a></p>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
<%- include("partials/footer") %>