<%- include("partials/header") %>
    <div class="container">
        <div class="jumbotron">
            <h1 style="font-size:50px;"> Following are the property available for Renting</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <%property.forEach(function(data){%>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="<%=data.image%>">
                        <div class="caption">
                            <p><a href="/tenant/<%=tenant_id%>/property/<%=data._id%>" class="btn btn-primary" role="button">Show More...</a></p>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
<%- include("partials/footer") %>